<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="en">
<div layout:fragment="content">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Read Page</h5>
      <form action="/board/list" method="post">
        <div class="input-group mb-3">
          <span class="input-group-text">Title</span>
          <input type="text" name="title" class="form-control" th:value="${dto.title}">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Content</span>
          <textarea name="content" class="form-control col-sm-5" rows="5" th:text="${dto.content}"></textarea>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Writer</span>
          <input type="text" name="writer" class="form-control" th:value="${dto.writer}">
        </div>
        <div class="input-group mb-3">
          <button type="button" class="btn btn-primary" onclick="location.href='/board/list'">List</button>
          <button type="Delete" class="btn btn-secondary">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

</body>
</html>