<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="en">
<div layout:fragment="content">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Read Page</h5>
<!--      <form action="/board/list" method="post">-->
      <div class="input-group mb-3">
        <span class="input-group-text">Bno</span>
        <input type="text" name="bno" class="form-control" th:value="${dto.bno}" readonly>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Title</span>
        <input type="text" name="title" class="form-control" th:value="${dto.title}" readonly>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Content</span>
        <textarea name="content" class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Writer</span>
        <input type="text" name="writer" class="form-control" th:value="${dto.writer}" readonly>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">RegisterDate</span>
        <input type="text" name="postdate" class="form-control" th:value="${dto.regDate}" readonly>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">ModifyDate</span>
        <input type="text" name="postdate" class="form-control" th:value="${dto.modDate}" readonly>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">VisitCount</span>
        <input type="text" name="visitcount" class="form-control" th:value="${dto.visitcount}" readonly>
      </div>
      <div class="input-group mb-3" th:with="link=${pageRequestDTO.getLink()}">
        <a th:href="|@{/board/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none"><!--class : 밑줄 없애기-->
          <button type="button" class="btn btn-primary">Modify</button>
        </a>
        <a th:href="|@{/board/list}|?${link}|" class="text-decoration-none"><!--class : 밑줄 없애기-->
          <button type="button" class="btn btn-secondary">List</button>
        </a>
<!--        <button type="button" class="btn btn-secondary" onclick="location.href='/board/list'">List</button>-->
        <button type="Delete" class="btn btn-danger">Delete</button>
      </div>
<!--      </form>-->
    </div>
  </div>
</div>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

</body>
</html>